button{
   background-color: chocolate;
   margin-right: 30px;
  margin-left: 30px;
   &:hover{
    background-color: rgb(246, 205, 149);
    transition: 0.5s;
   }
}
.count{
    font-size: 25px;
    &:hover{
        color: red;
        transition: 0.5s;
    }
    

}



.body{
    background-color: cornflowerblue;
}